<div class="container">
<h1>{{name}}</h1>
<p>{{text}}</p>
  <div class="d-flex flex-row flex-wrap container">
  <div class="card my-3 mx-3" style="width: 18rem;" *ngFor="let product of productArray">
    <img class="card-img-top" [src]="'http://kodytek.cz:8080/rest-api/' + product.images[0].miniaturePath" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{product.title}}</h5>
      <p class="card-text">{{product.price / 100}} kč</p>
      <a class="btn btn-secondary" (click)="getProduct(product.id)">Info o produktu</a>
    </div>
  </div>
  </div>
  <div class=" container" *ngIf="productArray.length === 0">
    <h3>Zatím není zavedeno</h3>
  </div>
</div>




