<nav class="navbar navbar-expand-sm  bg-secondary navbar-dark">
  <a class="navbar-brand" routerLink="">ZemlaShop</a>
  <ul class="navbar-nav mx-auto">
    <li class="nav-item " *ngFor="let cat of category">
      <a class="nav-link text-dark" routerLink="/category" (click)="clickCategory(cat.id)">{{cat.name}}</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>

<footer class="page-footer font-small bg-secondary pt-4">
  <div class="container">
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb fa-4x p-5">
          <a href="https://www.facebook.com/matej.zemla.1?ref=bookmarks"> <i class="fab fa-facebook-f"> </i></a>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw fa-4x p-5">
          <a href="https://www.instagram.com/matej_zemlicka/"> <i class="fab fa-instagram"></i></a>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus fa-4x p-5">
          <a href="https://github.com/Zemlaman"> <i class="fab fa-git"></i></a>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li fa-4x p-5">
          <a href="http://zemlacars.euweb.cz/"> <i class="fas fa-globe"></i></a>
        </a>
      </li>
    </ul>
  </div>
  <div class="footer-copyright text-center py-3">© 2020 Copyright: ZemlaCrop</div>
</footer>
