/* You can add global styles to this file, and also import other style files */
@import "src/app/Bootstrap/bootstrap.scss";


.container{
  padding-top: 50px;
}
.container img{
  height: 286px;
  width: 286px;
}
